/* include field.css for general formatting */
fieldset.radio {
  align-items: baseline;
  display: flex;
  flex-direction: column;
}
fieldset.radio > .field {
  margin-left: 0;
}

[type="radio"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  left: -200%;
  overflow: hidden;
  outline: none;
  position: absolute;
}
[type="radio"] + span {
  align-items: center;
  display: inline-flex;
}
[type="radio"] + span.trailing::after,
[type="radio"] + span:not(.trailing)::before {
  background-color: hsl(0, 0%, 99%);
  border: 0.0625rem solid hsl(0, 0%, 60%);
  border-radius: 100%;
  color: hsl(0, 0%, 1%);
  content: '\202F';
  display: inline-flex;
  flex-direction: column;
  height: 1.2rem;
  justify-content: center;
  margin: 0 0.5rem;
  text-align: center;
  width: 1.2rem;
}
[type="radio"][aria-checked="true"] + span.trailing::after,
[type="radio"][aria-checked="true"] + span:not(.trailing)::before,
[type="radio"]:checked + span.trailing::after,
[type="radio"]:checked + span:not(.trailing)::before {
  background-color: transparent;
  border-color: hsl(204, 100%, 40%);
  color: hsl(204, 100%, 40%);
}
[type="radio"][aria-checked="true"] + span.trailing::after,
[type="radio"][aria-checked="true"] + span:not(.trailing)::before,
[type="radio"]:checked + span.trailing::after,
[type="radio"]:checked + span:not(.trailing)::before {  
  content: 'â—';
  font-size: 1.2rem;
  text-align: center;
}
[type="radio"]:focus + span:before {
  border-color: hsl(204, 100%, 40%);
}
[type="radio"]:focus + span > label {
  text-shadow: 0 0 0.5em hsl(204, 100%, 75%);
}

