a.skip-to[href^="#"] {
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  left: -200%;
  position: absolute;
}
a.skip-to[href^="#"]:focus {
  clip-path: none;
  position: static;
}
